/* HEADER */
header {
    background-image: url(../img/pattern.png);
    background-color: #2596be;
    background-size: 40%;
    height: 125px;
}

.logo {
    width: 300px;
}
/* /HEADER */

/* MAIN */
    /* TITLE */
    .title {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .author {
        color: gray;
    }

    .skyblue {
        color: skyblue;
    }

    .date {
        color: gray;
        font-size: small;
    }
    /* /TITLE */

    /* TIM IMAGE */
    .photo {
        font-size: small;
    }
    /* /TIM IMAGE */

    /* LOREM SECTION 1 */
    .highlighted {
        background-color: yellow;
    }
    /* /LOREM SECTION 1 */
/* /MAIN */

/* FOOTER */
/* /FOOTER */