


/* Header */
header {
    background-image: url(../img/pattern.png);
    background-color: #2596be;
    background-size: 40%;
    height: 125px;
}

.logo {
    width: 300px;
}
/* /Header */

/* Main */
/* /Main */

/* Footer */
/* /Footer */